// ---------------------------------
// -- jparkerweb-GRIDS Framework  --
// ---------------------------------------------------
// -- http://jparkerweb.github.io/jparkerweb-GRIDS/ --
// ---------------------------------------------------


// ------------------------------
// -- Optional Utility classes --
// -------------------------------------------------
// -- Feel free to modify/extend below. The GRIDS --
// -- framework is not dependent on these claess. --
// -- This file is only included as these classes --
// -- were useful while writing the docs and demo --
// -- for GRIDS                                   --
// -------------------------------------------------


// breakpoint mixin
@mixin breakpoint($point) {
	@media (max-width: $point) { @content; }
}

// scale images, as each fluid column is resized
.grids-content--img {
	float: none;
	max-width: 100%;
	height: auto;
}
// scale images, as each fluid column is resized
//  [disply it as a block element]
.grids-content--img-block {
	@extend .grids-content--img;
	display: block;
}

// text align properties
.grids-content--align-left { text-align: left; }
.grids-content--align-center { text-align: center; }
.grids-content--align-right { text-align: right; }

// float element to the left
.grids-content--float-left { 
	float: left; 
	margin-right: $grid-gutter-width; 
	margin-bottom: $grid-gutter-width; 
}
// float element to the right
.grids-content--float-right { 
	float: right; 
	margin-left: $grid-gutter-width; 
	margin-bottom: $grid-gutter-width; 
}
