// ---------------------------------
// -- jparkerweb-GRIDS Framework  --
// ---------------------------------------------------
// -- http://jparkerweb.github.io/jparkerweb-GRIDS/ --
// ---------------------------------------------------


// **************************
// ** CONFIGURATION VALUES **
// **************************
// *********************************************************
// maximum width of each grid row (should be in px)
$grid-width:        1024px !default;

// gutter width is the width between columns in a row
// as well as the width to the left and right of each
// row (value should be in px)
$grid-gutter-width:     15px !default;
// veritcal spacing is the vertical space between grid
// rows. this is applied by adding a padding-bottom.
// the defualt is to use the same size as the gutter.
// (value should be in px)
$grid-vertical-spacing:	$grid-gutter-width;
// optionaly you can specify different vertical spacing
// for all grids at different breakpoints.  the default
// is to use the same vertical spacing for all breakpoints
// (value should be in px)
$grid-vertical-spacing-stack: $grid-vertical-spacing;
$grid-vertical-spacing-xxs: $grid-vertical-spacing;
$grid-vertical-spacing-xs: $grid-vertical-spacing;
$grid-vertical-spacing-s: $grid-vertical-spacing;
$grid-vertical-spacing-m: $grid-vertical-spacing;
$grid-vertical-spacing-l: $grid-vertical-spacing;
$grid-vertical-spacing-xl: $grid-vertical-spacing;
$grid-vertical-spacing-xxl: $grid-vertical-spacing;

// view-port width (breakpoint) to auto-stack all columns
// (value should be in px).  Set to 0 to disable.
$grid-breakpoint-stack: 435px !default;
// view-port widths (breakpoints) allowing layout change
// based on GRIDS class names (value should be in px).
// If you want to disable a breakpoint set its value to 0.
$grid-breakpoint-xxs:   480px !default;
$grid-breakpoint-xs:    520px !default;
$grid-breakpoint-s:     568px !default;
$grid-breakpoint-m:     620px !default;
$grid-breakpoint-l:     768px !default;
$grid-breakpoint-xl:    880px !default;
$grid-breakpoint-xxl:   950px !default;


// optional top/bottom margin and padding size units
// that can be applied to specified columns or grid row
// per breakpoint (see docs for more info).
//  example1: col-padding-top-2x-s
//    (will apply defined top padding to the specified
//     column at breakpoint s)
//  example2: grid-margin-bottom-3x-m
//    (will apply defined bottom margin to the specified
//     grid row at breakpoint m)
$grid-optional-margin-padding-size-1x: 10px !default;
$grid-optional-margin-padding-size-2x: 25px !default;
$grid-optional-margin-padding-size-3x: 50px !default;
// *********************************************************
